<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Turnos Mecánico</title>
  <link rel="stylesheet" href="/styles/body.css"> <!-- asegurate que la ruta esté bien -->
  <script src="/scripts/navbar.js"></script>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar">
  <div class="nav-left logo">Turners</div>

  <button class="menu-toggle" id="menuToggle">&#9776;</button>

  <div class="nav-links" id="navLinks">
    <a href="#servicios" id="verServicios">Servicios</a>
    <a href="#turnos">Turnos</a>
    <a href="#nosotros">Sobre Nosotros</a>
    <a href="login.html" class="login-button">Iniciar sesión</a>
  </div>
</nav>


<h1>Turnos Mecánico</h1>
<h2>Resumen:</h2>
  Este proyecto propone una solución integral para la administración y planificación en el ámbito de la mecánica, permitiendo gestionar servicios con control preciso del tiempo requerido para cada uno. La plataforma facilita la organización eficiente de turnos y recursos, optimizando los procesos operativos del taller.
  </section>
<script src="/scripts/services.js"></script>
</body>
</html>
